.caught
{
    background-color: green;
}

.uncaught
{
    background-color: red;
}

.pokemonCell
{
    display:inline-block;
    width: 150px;
    height: 150px;
    margin: 0px;
    text-align: center;
}

.pokemonCellNumber
{
    font-family:"Menlo", "Lucida Console", Monaco, monospace;
    font-size:24px;
}

.pokemonCellName
{
    font-family:"Helvetica", sans-serif;
    font-size:24px;
}

.boxTitle
{
    text-align: center;
    font-family:"Menlo", "Lucida Console", Monaco, monospace;
    font-size:40px;
}

ul
{
    list-style-type: none;
    margin-left:auto;
    margin-right:auto;
}
