.welcomeHeading
{
    text-align: center;
    font-family: "HelveticaNeue", sans-serif;
    font-weight: lighter;
}

h2
{
    text-align: center;
    font-family: "HelveticaNeue", sans-serif;
}

p
{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

a
{
    text-decoration: none;
    color: red;
}

#header a
{
    font-family: "HelveticaNeue", sans-serif;
    font-size: 14pt;
    color: white;
}

body
{
    margin: 0;
    padding-top:40px;
}

#header
{
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    position:fixed;
    top:0;
    background-color: red;
    text-align:right;
}

.headerNavigation
{
    margin-right:10px;
    float:right;
}

.headerCircleContainer
{
    margin-left:10px;
    float:left;
}

.headerCircle
{
    border:solid 3px black;
    width:15px;
    height:15px;
    border-radius:50%;
    display:inline-block;
    vertical-align:top;
}

#redCircle
{
    background-color:red;
}

#yellowCircle
{
    background-color:yellow;
}

#greenCircle
{
    background-color:green;
}

.headerCircle#bigCircle
{
    border-color:#eee;
    width:30px;
    height:30px;
    background-color:blue;
}

.headerSwoopContainer
{
    display:none;
    float:left;
    /* position:absolute; */
    /* height:100%; */
    /* width:100%; */
    width:500px;
    height:500px;
}

.headerSwoopLine
{
    padding:0px;
    display:inline-block;
    height:2px;
    background-color:black;
}

#bottomLine
{
    width:100px;
    vertical-align:bottom;
}

#topLine
{
    width:500px;
    vertical-align:top;
}

#footer
{
    text-align:center;
    width:100%;
    position:fixed;
    bottom:0;
}

/* User-specific CSS */

.caught
{
    background-color: rgba(0, 255, 0, 0.35);
}

.uncaught
{
    background-color: rgba(255, 0, 0, 0.35);
}

.pokemonCell
{
    display:inline-block;
    margin-left: -4px;
    width: 16.66%;
    text-align: center;
    padding: 30px 0;
}

.pokemonCellNumber
{
    font-family:"Menlo", "Lucida Console", Monaco, monospace;
    font-size:24pt;
}

.pokemonCellName
{
    font-family:"Helvetica", sans-serif;
    font-size:18pt;
}

.boxTitle
{
    text-align: center;
    font-family:"Menlo", "Lucida Console", Monaco, monospace;
    font-size:36pt;
    margin-top:12px;
    margin-bottom:12px;
}

ul
{
    width:900px;
    list-style-type: none;
    margin-left:auto;
    margin-right:auto;
}

/* Login-specific CSS */

form
{
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

input.textBox
{
    font-size:24pt;
    font-family:"HelveticaNeue", sans-serif;
    font-style: lighter;
    display:block;
    width:100%;
}
