.caught
{
    background-color: green;
}

.uncaught
{
    background-color: red;
}

.pokemonCell
{
    display:inline-block;
    font:helvetica;
    width: 150px;
    height: 100px;
    margin: 0px;
    text-align: center;
}

.pokemonCellNumber
{
    font-family:"Menlo", "Lucida Console", Monaco, monospace;
    font-size:24;
}

.pokemonCellName
{
}

ul
{
    list-style-type: none;
}
