<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js' ) }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>LivingDex</title>
    {% endblock %}
  </head>
  <body>
    <div id="header">
        {% set currentUser = session.username %}
        {% if currentUser%}
        <a href="{{ url_for('user', username=currentUser) }}"> {{ currentUser }}</a>
        <a href="{{ url_for('logoutAndGoHome') }}">logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">login / register</a>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2014 by Peter Hajas</a>.
      {% endblock %}
    </div>
  </body>
</html>
