<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js' ) }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>LivingDex</title>
    {% endblock %}
  </head>
  <body>
    <div id="header">
        <span class="headerCircleContainer">
        <div class="headerCircle" id="bigCircle"></div>
        <div class="headerCircle" id="redCircle"></div>
        <div class="headerCircle" id="yellowCircle"></div>
        <div class="headerCircle" id="greenCircle"></div>
        </span>
        <span class="headerSwoopContainer">
        <div class="headerSwoopLine" id="bottomLine"></div>
        <div class="headerSwoopLine" id="topLine"></div>
        </span>

        <span class="headerNavigation">
        <a href="{{ url_for('home') }}">home</a>
        {% set currentUser = session.username %}
        {% if currentUser%}
        <a href="{{ url_for('user', username=currentUser) }}"> {{ currentUser }}</a>
        <a href="{{ url_for('logoutAndGoHome') }}">logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">login / register</a>
        {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
