{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% if error %}
<h3 class="error">{{ error }}</h3>
{% endif %}
<form name="login" action="login" method="post">
<h3 class="loginLabel">Login:</h3>
    <label for="loginUsername">username:</label>
    <input class="textBox" type="text" name="loginUsername" id="loginUsername">
    <label for="loginPassword">password:</label>
    <input class="textBox" type="text" name="loginPassword" id="loginPassword">
    <input type="submit" value="post it">
</form>
<form name="register" action="register" method="post">
<h3 class="loginLabel">Register:</h3>
    <label for="registerUsername">username:</label>
    <input class="textBox" type="text" name="registerUsername" id="registerUsername">
    <label for="registerPassword">password:</label>
    <input class="textBox" type="text" name="registerPassword" id="registerPassword">
    <input type="submit" value="post it">
</form>
{% endblock %}
