{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% if error %}
<h3 class="error">{{ error }}</h3>
{% endif %}
<div class="loginContainer">
    <form name="login" action="login" method="post">
        <h3 class="loginLabel">Login:</h3>
        <input class="textBox" type="text" name="loginUsername" placeholder="Username" id="loginUsername">
        <input class="textBox" type="text" name="loginPassword" placeholder="Password" id="loginPassword">
        <input class="button" type="submit" value="Login">
    </form>
    <form name="register" action="register" method="post">
        <h3 class="loginLabel">Register:</h3>
        <input class="textBox" type="text" name="registerUsername" placeholder="Username" id="registerUsername">
        <input class="textBox" type="text" name="registerPassword" placeholder="Password" id="registerPassword">
        <input class="button" type="submit" value="Register">
    </form>
</div>
{% endblock %}
