{% extends "layout.html" %}
{% block head %}
{{ super ()}}
<link rel="stylesheet" href="{{ url_for('static', filename='pokesprite.css') }}">
<script src="{{ url_for('static', filename='pokesprite.js') }}"></script>
<script>
    PkSpr.process_dom();
</script>
{% endblock %}

{% block title %}{{ username }}'s Living Dex{% endblock %}
{% block content %}

<h2>
<span class='usernameHeading'>
{{ username }}
</span>
<span>:</span>
<span class='friendCode'>
{% for character in friendCode %}{{character}}{% if loop.index % 4 == 0 %}{% if not loop.last %}-{% endif %}{% endif %}{% endfor %}
</span>
</h2>

<ul>
{% for pokemon in dex %}

{% if loop.index0 % 30 == 0 %}
<div class='boxTitle'>
{% set boxStartIndex = loop.index %}
{% set boxEndIndex = loop.index0 + 30 %}
{{("%03d")|format(boxStartIndex)}} - {{("%03d")|format(boxEndIndex)}}
</div>
{% endif %}
<li
id={{ loop.index }}
{% if pokemon == 0 %}
class='pokemonCell uncaught'
{% else %}
class='pokemonCell caught'
{% endif %}
>
<div class='pokemonCellNumber'>{{ ("%03d")|format(loop.index) }}</div>
<span class='pkspr pkmn-{{ pokemonSlugs[loop.index - 1] }}'></span>
<div class='pokemonCellName'>{{ pokemonNames[loop.index - 1] }}</div>
</li>

{% endfor %}
</ul>

<script type="text/javascript">var user = "{{ username }}";</script>
{% if session.username == username%}
<script src="{{ url_for('static', filename='editdex.js' ) }}"></script>
{% endif %}
{% endblock %}
